@mixin flexCenter($direction, $background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
  background: $background;
}

header {
  @include flexCenter(column, gray);

  //   background: lightblue;
  height: 100vh;
  color: $textColor;
  button {
    background: $primaryBtn;
    &:hover {
      background-color: blue;
    }
    &::after {
      content: " Hello!";
    }
  }
  p {
    color: $textColor;
  }
  .mainText {
    color: $textColor;
  }
}
